.survey-form {
  display: block;
  font-size: 26px;
}

h1 {
  background-color: #a5bbaf;
  color: navy;
  text-align: center;
}

p {
  background-color: #a5bbaf;
  color: navy;
  text-align: center;
  font-size: 26px;
}

div {
  background-color: #a5bbaf;
  color: navy;
  text-align: center;
}

.forms label {
  text-align: center;
}

label {
  display: block;
  font-size: 26px;
}

h1, p, div, body {
  background-color: #a5bbaf;
  color: navy;
  text-align: center;
}

.forms input {
  background-color: navy;
  color: #a5bbaf;
  text-align: center;
}

.forms3 textarea {
  background-color: navy;
  color: #a5bbaf;
  text-align: center;
}

select {
  background-color: navy;
  color: #a5bbaf;
  text-align: center;
}

#submit {
  background-color: navy;
  color: #a5bbaf;
  text-align: center;
}

.forms2 input {
  background-color: navy;
  color: #a5bbaf;
  text-align: center;
  display: inline-block;
  margin: auto;
}

input, select {
  height: 30px;
  font-size: 20px;
}

textarea {
  height: 100px;
  width: 300px;
  font-size: 20px;
}

button {
  display: block;
  margin: auto;
}

@media (min-width: 600px) {
  h1 {
    font-size: 60px;
  }
  p {
    font-size: 40px;
  }
}